<div class="card shadow-sm">
  <div class="card-body p-0">
    <div class="table-responsive">
      <table class="table table-hover align-middle mb-0">
        <thead class="table-light">
          <tr>
            <th scope="col">${ticket_header}</th>
            <th scope="col">Title</th>
            <th scope="col">${status_header}</th>
            <th scope="col">${priority_header}</th>
            <th scope="col">${updated_header}</th>
          </tr>
        </thead>
        <tbody>
          ${rows}
        </tbody>
      </table>
    </div>
  </div>
</div>
